@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primaryqm">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4"></h4>
                            <h1 class="display-1 text-white mb-4">Quality Matters</h1>
                            <p id="carouselDescription" class="mb-5 fs-5">

                            </p>
                            <div id="contactButton" class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" asp-action="Index" asp-controller="Contact">
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="img/asset-1-2@2x.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Carousel End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container-fluid bg-light about pb-5">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-item-content bg-white rounded p-5 h-100">
                        <h1 id="whoWeAreTitle" class="display-4 mb-4"></h1>
                        <p id="whoWeAreDescription">

                        </p>
                        <p id="ourReputation">
                        </p>
                        <p class="text-dark"><i class="fa fa-check text-primary me-3"></i><a id="reputation1"></a></p>
                        <p class="text-dark"><i class="fa fa-check text-primary me-3"></i><a id="reputation2"></a></p>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-white rounded p-5 h-100">
                        <div class="row g-4 justify-content-center">
                            <div class="col-12">
                                <div class="rounded bg-light" style="margin-top: 50px;">
                                    <img src="img/image@2x.png" class="img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-scroll fa-3x"></i>
                    </div>
                    <h4 id="philosophyTitle" class="mb-4"></h4>
                    <p id="philosophyDescription" class="mb-4">

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-handshake fa-3x"></i>
                    </div>
                    <h4 id="principleTitle" class="mb-4"></h4>
                    <p id="principleDescription" class="mb-4">

                    <p>
                        <br>
                    </p>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                    </div>
                    <h4 id="successTitle" class="mb-4"></h4>
                    <p id="successDescription" class="mb-4">
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 id="servicesLinkageTitle" class="display-4 mb-4"></h1>
                    <p id="servicesLinkageDescription">
                    </p>
                    <p>
                        <a id="getStartedButton" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#"></a>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer@2x.png" class="img-fluid rounded w-100" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer-1@2x.png" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 id="servicesInspectionTitle" class="display-4 mb-4"></h1>
                    <p id="servicesInspectionDescription">

                    </p>
                    <p>
                        <a id="getStartedButton2" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 id="servicesTrainingTitle" class="display-4 mb-4"></h1>
                    <p id="servicesTrainingDescription">
                    </p>
                    <p>
                        <a id="getStartedButton3" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#"></a>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer-2@2x.png" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
