@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primaryqm">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4"></h4>
                            <h1 class="display-1 text-white mb-4">Quality Matters</h1>
                            <p class="mb-5 fs-5">
                                Servicios integrados de Gestión de la Calidad y Enlace.
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" asp-action="Index" asp-controller="Contact">
                                    Contáctanos
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="img/asset-1-2@2x.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Carousel End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container-fluid bg-light about pb-5">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-item-content bg-white rounded p-5 h-100">
                        <h1 class="display-4 mb-4">¿Quiénes somos?</h1>
                        <p>
                            Un equipo de profesionales bilingues, de diferentes procedencias, capaz de gestionar tus proyectos. 
                            Somos profesionales con experiencia y sólidos conocimientos sobre Calidad, Fabricación, Ingeniería y Mejora Continua.
                        </p>
                        <p>
                            Hemos construido nuestra reputación a través de:
                        </p>
                        <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Proporcionar entrenamiento de alta calidad con alto impacto tanto para las personas como para sus empresas.</p>
                        <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Apoyo focalizado de la inspección en proyectos específicos, incluida la reelaboración de piezas según las especificaciones.</p>
                        <p class="text-dark mb-4"><i class="fa fa-check text-primary me-3"></i>Enlace Presentado el apoyo de ingeniería</p>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-white rounded p-5 h-100">
                        <div class="row g-4 justify-content-center">
                            <div class="col-12">
                                <div class="rounded bg-light" style="margin-top: 50px;">
                                    <img src="img/image@2x.png" class="img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-scroll fa-3x"></i>
                    </div>
                    <h4 class="mb-4">Nuestra Filosofía</h4>
                    <p class="mb-4">
                        Proporcionar servicios profesionales y formación a nuestros clientes, con el objetivo de desarrollar las competencias básicas desde el origen, como base de la cultura de la calidad.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-handshake fa-3x"></i>
                    </div>
                    <h4 class="mb-4">Nuestro Principio</h4>
                    <p class="mb-4">Promover la integración de los Servicios de Gestión de la Calidad como clave del éxito de los clientes.
                    <p>
                        <br>
                    </p>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                    </div>
                    <h4 class="mb-4">Clave del Éxito</h4>
                    <p class="mb-4">
                        Comprensión y respuesta rápidas a las necesidades del cliente, así como apoyo profesional adaptado a situaciones únicas.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 class="display-4 mb-4">Servicios de Enlace</h1>
                    <p>
                        Nuestro equipo de ingenieros experimentados cuenta con un historial demostrado de proyectos completados con éxito y centrados en el cumplimiento de las especificaciones de ingeniería.
                        Ofrecemos un excelente soporte técnico y podemos negociar con los clientes cuando sea necesario. Además, nos destacamos en la resolución de problemas y la entrega de soluciones eficaces para garantizar la ejecución del proyecto sin problemas y la satisfacción del cliente.
                        Para garantizar una ejecución fluida del proyecto y la satisfacción del cliente.
                    </p>
                    <p>
                        <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Comencemos</a>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer@2x.png" class="img-fluid rounded w-100" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer-1@2x.png" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 class="display-4 mb-4">Servicios de Inspección</h1>
                    <p>
                        Podemos proporcionarle equipos completos o inspectores individuales especializados para satisfacer sus necesidades específicas.
                        Nuestro personal puede participar desde el primer día o intercalarse «a lo largo del camino» para mejorar el proceso. Nuestros inspectores cuentan con una importante
                        experiencia previa que opera y mantiene activos similares. Aportan a cada proyecto una riqueza de conocimientos en múltiples disciplinas,
                        códigos industriales, normas industriales y normas específicas del cliente.
                    </p>
                    <p>
                        <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Comencemos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h1 class="display-4 mb-4">Servicios de Capacitación</h1>
                    <p>
                        Formación personalizada adaptada a las necesidades de cada cliente. Quality Matters asigna un Formador Profesional con experiencia demostrada.
                        Formación desarrollada en Español e Inglés está disponible bajo petición.
                        Desarrollo de Expertos en Formación Interna puede ser desarrollado por requerimiento del cliente. Se requerirá un presupuesto adicional.
                    </p>
                    <p>
                        <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Comencemos</a>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="img/imagecontainer-2@2x.png" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
