        <!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Servicios de Enlace</h4>
    </div>
</div>
<!-- Header End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container-fluid bg-light about pb-5">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-white rounded p-5 h-100">
                        <div class="row g-4 justify-content-center">
                            <div class="col-12">
                                <div class="rounded bg-light" style="margin-top: 100px;">
                                    <img src="img/work-together-image2@2x.png" class="img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-item-content bg-white rounded p-5 h-100">
                        <h1 class="display-4 mb-4">Atención al cliente personalizada mediante ingeniería de campo en sitio</h1>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Ingenieros Experimentados.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Éxito demostrado en proyectos realizados.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Ingeniería aplicada.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Enfoque en las especificaciones técnicas.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Soporte técnico.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Negociaciones con clientes sobre casos concretos.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Resolución de problemas.</p>
                        <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" asp-action="Index" asp-controller="Contact">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->