<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Servicios de Capacitación</h4>
    </div>
</div>
<!-- Header End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container-fluid bg-light about pb-5">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-white rounded p-5 h-100">
                        <div class="row g-4 justify-content-center">
                            <div class="col-12">
                                <div class="rounded bg-light" style="margin-top: 0px;">
                                    <img src="img/work-together-image@2x.png" class="img-fluid rounded w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-item-content bg-white rounded p-5 h-100">
                        <h1 class="display-5 mb-5">Los expertos en formación pueden desarrollarse según las necesidades del cliente.</h1>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Elaboración de un manual de formación.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Se entregarán los manuales impresos.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Participantes: Según las necesidades del cliente.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Programa de Formación: En las instalaciones del cliente.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Fechas.</p>
                        <p class="text-dark"><i class="fa fa-check-circle text-QMGreen me-3"></i>Capacitadores.</p>
                        <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" asp-action="Index" asp-controller="Contact">
                                Contáctanos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary"></h4>
            <h1 class="display-4 mb-4">Ofrecemos servicios de Capacitación</h1>
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/automotive.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">IATF 16949</p>
                            <p class="mb-4">Coaching in implementation, follow up and sustaining system.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/x3mvga" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/customer.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Customer Specific Requirement</p>
                            <p class="mb-4">Quality systems Gap Analysis vs Customer requirements</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/9jm2cs" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/project.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">APQ/NPI</p>
                            <p class="mb-4">Gate control for effective New Product Launch. Project Management</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/xgzm3g" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/prod.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">CQI 8</p>
                            <p class="mb-4">Soldering System Assessment required by IATF 16949</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/la5vmz" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/soldering.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">CQI 17</p>
                            <p class="mb-4">Soldering System Assessment required by IATF 16949</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/vo9ts9" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/13960164_5411393.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">ISO 9000</p>
                            <p class="mb-4">Coaching in implementation, follow up and sustaining system.                                    </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/dcbuj4" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/audit.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">ISO 19001</p>
                            <p class="mb-4">Guidelines for Quality Systems Audit.</p>
                            <br />
                            <br />
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/jyzrsx" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/Taking care of the Earth-pana.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">ISO 14001</p>
                            <p class="mb-4">Coaching in implementation, follow up and sustaining system                                    </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/vl4gkq" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/Building safety-pana.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">ISO 45001</p>
                            <p class="mb-4">Coaching in implementation, follow up and sustaining system                                    </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/fzrbjw" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/9412109.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">TL 9000</p>
                            <p class="mb-4">Coaching in implementation, follow up and sustaining system.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/7pto02" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/SOLDER.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">IPC 610, IPC 7711/7721</p>
                            <p class="mb-4">Electronics soldering assembly criteria. Evaluation of solder condition as well as rework management.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/t3q4il" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary"></h4>
            <h1 class="display-4 mb-4">Y Servicios de Consultoría</h1>
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/Pair programming-bro.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Sistemas de Calidad</p>
                            <p class="mb-4">Quality systems Gap Analysis vs  ISO/IATF16949 Std.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/xcii5g" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/Data analysis-pana.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">8D</p>
                            <p class="mb-4">Quality systems Gap Analysis vs Customer requirements</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/qvwjss" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/Puzzle-amico.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Solución de Problemas</p>
                            <p class="mb-4">Integrated techiques for problem solving.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/vbqf09" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/33756690_8104957.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Sistemas de Gestión</p>
                            <p class="mb-4">Coaching for effective system administration.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/nwrw0v" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/LEAN.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Lean Manufacturing</p>
                            <p class="mb-4">Methodology for elimination of 8 wastes, focusing on increasing Productivity and efficiency</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/g6n92c" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/sqdc.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Shop Floor Management</p>
                            <p class="mb-4">SQDC Floor effective follow up Operator development / Training Effective meetings.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/hedffz" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="img/SUPPLY.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <p href="#" class="d-inline-block h4 mb-4">Value Stream Managememt</p>
                            <p class="mb-4">Detailed analysis of supply chain and associated variables.</p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-5" href="https://wa.link/96md9u" target="_blank" rel="noopener noreferrer">
                                    Solicitar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
<!-- <div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Testimonial</h4>
            <h1 class="display-4 mb-4">What Our Customers Are Saying</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="img/testimonial-1.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="img/testimonial-2.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="img/testimonial-3.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Testimonial End -->